body {
  background-color: #000000;
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  touch-action: pan-y;
  overflow-x: hidden;
  font-optical-sizing: auto;
}

.container {
  overflow-x: hidden;
}

/* Save and load button styling */
#file {
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  width: 100%;
  column-gap: 10px;
  margin: 5px 16px;
}

#save-button {
  background-color: #E06050;
  border: none;
  border-radius: 8px;
  color: #000;
  font-size: 15px;
  padding: 0px 20px;
  font-weight: 600;
}

#file-input {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 14px;
  padding: 2px 6px;
}

/* Tabs styling */
#tabs {
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 58px;
  background-color: #333;
  color: white;
  font-size: 15px;
  touch-action: pan-y;
}

@media screen and (min-width: 768px) {
  #tabs {
    height: 64px;
    bottom: 20px;
  }
}

#tabs button {
  border: none;
  background-color: transparent;
  color: white;
  flex-grow: 1;
  padding: 18px 20px;
  text-align: center;
  font-size: 15px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#tabs button.active {
  border-top: 2px solid white;
  background-color: #444;
}

#tabs button:hover {
  border-top: 2px solid white;
}

/* Text and Inputs styling */
h1 {
  font-size: 14px;
  margin: 0;
  padding-top: 0;
  padding-bottom: 10px;
  color: gray;
  font-weight: 400;
}

h2 {
  color: #D0A080;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 20px;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 0px;
}

label {
  color: #b8b8b8;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 94px;
  margin-left: 12px;
  line-height: 1.8;
}

label::after {
  content: "\a";
  white-space: pre;
}

p {
  margin: 4px 0px 8px;
  font-size: 13px;

  color: #D0A080;
  font-weight: 400;
}

#inputs {
  padding: 8px 10px 120px 10px;
  display: flex;
  flex-direction: column;
  padding-bottom: 120px;
}

/* multiple containers for fields and labels can exist on one row*/
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
}
.field-container:not(.full) {
  flex-basis: 48%; /* Each field container takes up 48% of the available width */
}

@media screen and (min-width: 768px) {
  .field-container:not(.full) {
    flex-basis: 24%;
  }
}

.full {
  flex-basis: 100%;
}

.spacer {
  background-color: #000000;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}

textarea {
  background-color: #222;
  border: 1px solid #ffffff30;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  margin-bottom: 2px;
  padding: 8px 14px 12px;
  width: 100%;
  display: inline-block;
  vertical-align: middle;

  overflow: hidden;
  resize: none;
}

input[type="text"],
input[type="number"] {
  background-color: #222;
  border: 1px solid #ffffff30;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  margin-bottom: 2px;
  padding: 8px 14px 8px;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}

input[type="number"] {
  /* text-align: right; */
  font-variant-numeric: tabular-nums;
  padding: 8px 14px;
}

/* Remove spinner on iOS */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Stepper input */
.stepper-input {
  width: 100%;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2px;
}

.stepper-input input[type="number"] {
  background-color: #222;
  border: 1px solid #ffffff30;
  border-radius: 8px;
  color: #fff;
  font-size: 16px;
  padding: 8px 14px;
  width: calc(100% - 88px);
  vertical-align: middle;
  margin-bottom: 0px;
}

.stepper-input button {
  background-color: #E0605040;
  border: 1px solid #E0605040;
  border-radius: 8px;
  color: #E06050;
  font-size: 24px;
  padding: 1px 0px 3px;
  width: 42px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}

.stepper-input button:first-of-type {
  left: 0;
}

.stepper-input button:last-of-type {
  right: 0;
}

.stepper-input button.active, .stepper-input button:hover {
  background-color: #E0605080;
  border: 1px solid #E0605040;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
} 